@using RazorViewEngine.Models
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p> Hello From Index View</p>
<div>
    @DateTime.Now
</div>
@{ 
    int a = 1;
    int b = 2;
    int c = a + b;
    List <string> colorname = new List<string>() { "Orange", "Pink", "white" };

    Employee emp = new Employee() { id = 1, name = "Namra" };
}
<h2> WE USE DIRECTIVES HERE ---> "using " is a directive</h2>
<ul>
    
    <li>@emp.id</li>
    <li>@emp.name</li>
</ul>

<p>
    Sum of a and b is @c
</p>
<div>
    @colorname.FirstOrDefault()
    
</div>
<div>
    <ul>
        @for (int i = 0; i < colorname.Count; i++)
        {
            <li>@colorname[i]</li>
        }
    </ul>

</div>
<div>
    This is escape synatx <br />
    @@Namra_abid


</div>